<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="list_gallery" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label">
            <label>Image Gallery List</label>
            <tab>jsutariya</tab>
            <resource>JS_ListGallery::config_js_listgallery</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label">
                <label>General</label>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1" translate="label comment" type="select">
                    <label>Enable</label>
                    <comment>Enable Product Image Gallery on lists</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
